
@media only screen and (max-width: 500px) {

.headericonandtext h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 17.45px;
    line-height: 27px;
    color: #000000;
}

.headerprofile h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1B1B1B;
}

.headericonandtext {
    display: flex;
    align-items: center;
    gap: 0px 5px;
}

.headerprofile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.paddingforfluid {
    padding: 10px 10px;
}

.playspeaker {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #1B1B1B;
}

.threeicons {
    margin-top: 46px;
}   

.resp-footer-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 89px;
}

.resp-footer-texts a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #000000;
}

.lasttext {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #D1D1D1;
    text-align: center;
    margin-top: 25px;
    padding: 20px 0px 9px 0px !important;
}

    .resp3icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 18px;
    margin-top:10px;
}


}
